// Variables


// Common settings
.title, .subtitle, .above-title {
    text-align: center;
}

.card-content {
    border: 1px solid black;
    width: 300px;
}

.pricing-card-content {
    border: 1px solid black;
    width: 200px;
}

// Koshiro


// Mustafa


// Mari


// Flora