// Variables


// Common settings
.title, .subtitle, .above-title {
    text-align: center;
}

.card-content {
    border: 1px solid black;
    width: 300px;
}

// Koshiro


// Mustafa


// Mari
.pricing {
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #E6FFFA, #FEFAEE, #FEF8F0, #F6FCFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    padding: 64px;
    &-card {
        display: flex;
        justify-content: center;
        &-content {
            text-align: center;
            border: 1px solid black;
            padding: 32px 32px;
            margin: 32px 32px;
            h4 {
                font-size: 16px;
            }
            h3 {
                margin: 32px;
                font-size: 32px;
            }
        }
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .client-reviews {
    padding: 64px;
  }

  .carousel {
    padding: 64px;
    &-inner {
      text-align: center;
    }
    &-control-prev-icon {
      background-image: url(assets/angle-left-solid.svg)!important;
    }
    &-control-next-icon {
      background-image: url(assets/angle-right-solid.svg)!important;
    }
  }


// Flora